<form action="/item/add" method="post">
    <select name="item">
        <?php foreach ($monitorItems as $monitorItem): ?>
        <option value="<?= $monitorItem->name?>"><?= $monitorItem->name?></option>
        <?php endforeach; ?>
    </select>
    <input type="text" size="100" name="value">
    <input type="submit" class="btn-primary">
</form>